*{
    font-family: 'Jost', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

.header_top{
    background-color: #fff;
    height: 40px;
    border-bottom: 3px solid rgba(0,139,139,0.02);
}

.header{
    padding: 20px 0;
    background-color: #ffffff;
    top: 40px;
    right:0;
    left: 0;
    position: fixed;
    z-index: 10;
}
.header a{
    text-decoration: none;
}

.header .row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header .row .logo{
    width: 25%;
    color:#189A46;
    font-size: 34px;
    font-weight: 600;
}

.header ._navbar{
    width: 75%;
    display: flex;
    justify-content: flex-end;
}

.header ._navbar a{
    color: #000000;
    font-size: 19.2px;
    font-weight: 400;
    padding: 0 10px;
}

.header ._navbar .active{
    color: #189A46;
}

.header ._navbar .sections{
    padding: 0 10px;
    display: flex;
    align-items: center;
}

.header ._navbar .sections i{
    margin-left: -5px;
    margin-top: 5px;
    font-size: 10px;
}

.header .moon{
    display: inline-block;
    width: 24px;
    height: 24px;
    color: #696969;
    padding: 1px 0;
}

.header .menubar{
    padding: 7px 9px;
    background-color: #189A46;
    color:#ffffff;
    border-radius: 5px;
    margin-left: 20px ;
    border: none;
    display: none;
}

.header .menubar i{
    height: 20px;
    width: 20px;
    line-height: 20px;
    font-size: 20px;
}

.header ._navbar a:hover,
.header ._navbar .sections:hover i{
    color: #189A46;
}

.header ._navbar a::after{
    content: "";
    display: flex;
    border-bottom: 1px solid #189A46;
    width: 0;
}

.header ._navbar a:hover::after{
    width:100%;
    transition: all 0.5s;
}

.header .navbar3{
    height: 0;
    text-align: center;
    overflow: hidden;
    transition: height 0.35s;
    padding-top: 15px;
}

.header .navbar2{
    height: 200px;
    text-align: center;
    padding: 15px 0;
    display: block;
    transition: height 0.35s;
}

.header .navbar2 a,
.header .navbar3 a{
    color: #000000;
    font-size: 1.2em;
    font-weight: 400;
    margin: 7px 0;
}

.header .navbar2 .sections,
.header .navbar3 .sections{
    padding: 7px 0;
}
.header .navbar2 .active,
.header .navbar3 .active{
    color: #189A46;
}

._carousel h1{
    color: #ffffff;
    font-weight: 600;
    font-size: 50px;
}

._carousel ._carousel-item{
    position: relative;
    margin-top: 150px;
    width: 100%;
    height: 209px;
    text-align: center;
    background-image: url(../img/banner4.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

._carousel ._carousel-item::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

._carousel ._carousel-item .carousel-caption{
    bottom: 50%;
    transform: translateY(50%);
}

._carousel ._carousel-item .carousel-caption a{
    text-decoration: none;
    color: #189a46;
}

._carousel ._carousel-item .carousel-caption i{
    margin: 0 5px;
}

._carousel h2{
    font-size: 50px;
    font-weight: 600;
    color: #fff;
}

._carousel ._carou_link i{
    color: #ffffff;
}

.portfolio ._portfolio_title h6{
    color: #f53626;
    font-size: 18px;
}

.portfolio ._portfolio_title h3{
    color: #000c04;
    font-size: 40px;
    font-weight: 600;
    line-height: 40px;
}

.portfolio .row .item{
    position: relative;
    overflow: hidden;
}

.portfolio .row .item{
    cursor: pointer;
}

.portfolio .row .item::before{
    position: absolute;
    top: 0;
    left: -100%;
    z-index: 20;
    display: block;
    content: '';
    width: 50%;
    height: 100%;
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
    transform: skewX(-25deg);
    transition: all 0.4s linear 0s;
}

.portfolio .row .item:hover::before{
    top: 0;
    left: 100%;
}

.footer{
    background-color: #111;
    padding: 70px 0 20px 0;
}

.footer .footer_row{
    display: flex;
}

.footer .footer_col1{
    width: 45%;
    margin-right: 75px;
}

.footer .footer_col{
    width: calc(55% / 3);
}

.footer ul li{
    margin-bottom: 10px;
}

.footer .footer_title{
    color:#ffffff;
    font-size:20px;
    line-height: 26px;
    font-weight: 600;
    margin-bottom: 25px;
}

.footer .footer_col ul,
.footer .footer_col1 ul{
    list-style-type: none;
    padding:0;
}

.footer_icon ul{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.footer_icon ul li{
    padding-right: 25px;
}

.footer_icon ul li a{color: #808080;}

.footer .footer_col ul a,
.footer .footer_col1 ul li{
    text-decoration: none;
    font-weight: normal;
    font-size:16px;
    color: #808080;
    line-height: 28px;
}

.footer .footer_col1 ul li a{
    text-decoration: none;
    color: #808080;
}

.footer .footer_col1 ul li:hover a,
.footer .footer_col ul li:hover a{
    color: #fff;
    text-decoration:underline;
    transition: all 0.3s;
}

.footer_copyright{
    text-align: center;
    border-top:1px solid rgba(103, 99, 99, 0.14);
    font-size: 18px;
    color: #808080;
}
.footer_copyright p{
    margin-top: 30px;
}
.footer_copyright a{
    color:#f53626;
    opacity: 0.9;
    text-decoration: none;
}

.footer_copyright a:hover{
    text-decoration: underline;
}

.backtotop{
    display: none;
    width:50px;
    height: 50px;
    border-radius: 50%;
    background-color: #189A46;
    position: relative;
    bottom:50px;
    position: fixed;
    top:575px;
    right: 30px;
}

.backtotop {
    text-decoration: none;
}

.backtotop h2{
    color: #ffffff;
    line-height: 50px;
    text-align: center;
    font-size: 20px;
    font-weight: normal;
}

.container{
    padding: 0 15px !important;
    margin: auto !important;
    max-width: 1280px !important;
}

@media screen and (max-width: 992px){
    .header_top{
        height: 40px;
    }
    .header{
        top:40px;
        padding-bottom: 15px;
    }
    .header .row .logo{
        width: 100%;
        font-size: 30px;
    }

    .header .navbar{
        display: none;
    }

    .header .menubar{
        display: block;
    }

    ._portfolio ._form{
        width: 100%;
    }
}
@media screen and (max-width: 768px){
    .footer{
        margin-top:0;
    }
    .footer .footer_row{
        display: block;
    }
    .footer .footer_col1,
    .footer .footer_col{
        width: 100%;
        padding-bottom:50px;
    }

}



